/* ========================================================================
   Component: Typography
 ========================================================================== */
@font-face {
	font-family: 'Circular Book';
	src: url('../fonts/CircularStd-Book.otf');
}
@font-face {
	font-family: 'Circular Bold';
	src: url('../fonts/CircularStd-Bold.otf');
}
@font-face {
	font-family: 'Circular Black';
	src: url('../fonts/CircularStd-Black.otf');
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster.otf');
}
html, body {
	font-family: "Circular Book", arial;
}
.text-regular {
	font-family: 'Circular Book', arial;
}
.text-bold {
	font-family: "Circular Bold", arial bold, arial;
}
.text-black {
	font-family: "Circular Black", arial black, arial;
}
.text-special {
	font-family: 'Lobster', arial;
}